In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df=pd.read_excel('Covid.xlsx')
print(df)

                    Date  Unnamed: 1 Unnamed: 2     # of cases # of deaths
0    2020-01-30 00:00:00         NaN        NaN        1(n.a.)         NaN
1    2020-02-01 00:00:00         NaN        NaN           1(=)         NaN
2    2020-02-02 00:00:00         NaN          ​       2(+100%)         NaN
3    2020-02-03 00:00:00         NaN          ​        3(+50%)         NaN
4                      ⋮         NaN          ​           3(=)         NaN
..                   ...         ...        ...            ...         ...
385                  NaN         NaN          ​            NaN         NaN
386                  NaN         NaN          ​            NaN         NaN
387  2020-07-21 00:00:00         NaN          ​  13,994(+5.4%)       44(+1
388                  NaN         NaN          ​            NaN         NaN
389                  NaN         NaN          ​            NaN         NaN

[390 rows x 5 columns]

In [6]:
df=df[['Date','# of cases']]

In [7]:
print(df)

                    Date     # of cases
0    2020-01-30 00:00:00        1(n.a.)
1    2020-02-01 00:00:00           1(=)
2    2020-02-02 00:00:00       2(+100%)
3    2020-02-03 00:00:00        3(+50%)
4                      ⋮           3(=)
..                   ...            ...
385                  NaN            NaN
386                  NaN            NaN
387  2020-07-21 00:00:00  13,994(+5.4%)
388                  NaN            NaN
389                  NaN            NaN

[390 rows x 2 columns]

In [11]:
df2=pd.read_csv('Covid.csv')
print(df2)

           Date  Unnamed: 1 Unnamed: 2          cases deaths
0    30-01-2020         NaN        NaN        1(n.a.)    NaN
1    01-02-2020         NaN        NaN           1(=)    NaN
2    02-02-2020         NaN          ?       2(+100%)    NaN
3    03-02-2020         NaN          ?        3(+50%)    NaN
4             ?         NaN          ?           3(=)    NaN
..          ...         ...        ...            ...    ...
385         NaN         NaN          ?            NaN    NaN
386         NaN         NaN          ?            NaN    NaN
387  21-07-2020         NaN          ?  13,994(+5.4%)  44(+1
388         NaN         NaN          ?            NaN    NaN
389         NaN         NaN          ?            NaN    NaN

[390 rows x 5 columns]

In [12]:
df2.iloc[142:,:4]

           Date  Unnamed: 1 Unnamed: 2          cases
142         NaN         NaN          ?            NaN
143         NaN         NaN          ?            NaN
144  01-05-2020         NaN          ?         497(=)
145         NaN         NaN          ?            NaN
146         NaN         NaN          ?            NaN
..          ...         ...        ...            ...
385         NaN         NaN          ?            NaN
386         NaN         NaN          ?            NaN
387  21-07-2020         NaN          ?  13,994(+5.4%)
388         NaN         NaN          ?            NaN
389         NaN         NaN          ?            NaN

[248 rows x 4 columns]

In [ ]:
df.